#board {
  width: 600px;
  height: 600px;
  margin: 0 auto;
 
  color: #73686A;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  padding-top: 7%;
}

button {
  border: 6px solid #73686A;
  background-color: #CFC6C8;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 160px;
  width: 160px;
}

.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


button.restart-button {
  background-color: #73686A;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

div.win-message {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;

}
div.draw-message {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;

}
.message-container {
  text-align: center;
  margin-bottom: 20px;
}

body  {
  background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
background-size:cover;
      -webkit-animation: slidein 100s;
      animation: slidein 100s;

      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;

      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;

      -webkit-animation-direction: alternate;
      animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}

.center
{
display: flex;
align-items: center;
justify-content: center;
position: absolute;
margin: auto;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: rgba(75, 75, 250, 0.3);
border-radius: 3px;
}
.center h1{
text-align:center;
color:white;
font-family: 'Source Code Pro', monospace;
text-transform:uppercase;
}